<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>696622163856-evob18h1nffnt9hhsqcdnvk73ap9j4ui.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.696622163856-evob18h1nffnt9hhsqcdnvk73ap9j4ui</string>
	<key>API_KEY</key>
	<string>AIzaSyAW1ITvsHFW0gskC6BW9qHpfnEGIQOT78U</string>
	<key>GCM_SENDER_ID</key>
	<string>696622163856</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.GoodVibe.GukbapMinister-Admin</string>
	<key>PROJECT_ID</key>
	<string>gukbapminister</string>
	<key>STORAGE_BUCKET</key>
	<string>gukbapminister.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:696622163856:ios:d839cbcabb559805f1f515</string>
</dict>
</plist>